body {
    background-image: url('https://media.istockphoto.com/id/1419895694/vector/seamless-pattern-of-different-menstrual-hygiene-products-menstrual-cup-sanitary-pad-tampon.jpg?s=612x612&w=0&k=20&c=jxCnC_EGQhV68nX4ixQohz7eaL3Df5EgabuJvAHKAww=');
    background-size: cover; /* Adjust to cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the image */
    height: 100vh; /* Ensure the body covers the full viewport height */
    margin: 0; /* Remove default margins */
}
#next-period {
    margin-bottom: 40px;
}

.stats {
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.stat-box, .week-forecast {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    width: 0;
}

.stat-box p, .week-forecast p {
    margin: 0;
    color: #555;
}

.stat-box h2 {
    margin: 10px 0 0;
    color: #333;
}

.week-icon {
    background-image: url("../public/menstrual.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 20px;
    margin-top: 20px;
    width: auto;
    height: 100px;
}

#update-info {
    position: relative;
    left: 0;
    right: 0;
    margin: 10px;
}

#update-info a {
    font-weight: bold;
    font-size: 2em;
    color: #1e1e1e;
    padding: 20px 30px;
}

#update-info a::after {
    bottom: 20px;
    height: 2px;
    background-color: #1e1e1e
}

#update-info a:hover::after {
    left: 30px;
    right: 30px;
}

#calendar {
    width: 100%;
}